<html ng-app='myApp'> 
<!-- Defines that angular will be used to interpret the entire page or where it is specified. "" indicates which module will be used-->
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'/></script>
    <script type='text/javascript'>
      var myAppModule = angular.module('myApp', []);
      // the .controller() method adds a controller to the module
      // Enabling access to the angular module "myApp" ->similar to require.

      myAppModule.factory('studentFactory', function(){
     //myAppModule.factory is angular defined(built-in) method that takes in two parameters. The name of the factory and how the factory should act...ideally a callback function. 

      	var students = [];
      	//Creates a PRIVATE variable inside the factory. We could eliminate the 'var' from 'var students' and make it a global variable. But we don't want to do that. This way, the data is available with out creating too many variables and making shit confusing.


      	var factory = {};
      	// This variable -- factory(can be called whatever you want)-- is an object that has methods that allow it to manipulate the data. We are able to call on this object from the controller...by 'returning' it at the bottom of the factory. 

      	factory.addStudents = function(data, callback){
      		students.push(data);
      		callback(students);
      	}


      	factory.getStudents = function(callback){
      		callback(students);
      	}

      	factory.removeStudent = function(data){
      		students.splice(data,1);
      	}
      	//This is a method of the 'var factory' object, which we can call on and exectute in the controller, once the 'var factory' object has been returned. 
      	return factory;
      	// which is what we are doing here. Now that it has been returned, we can access the data and methods inside the 'var factory' object from the controller. 
      });

      myAppModule.controller('studentsController', function ($scope, studentFactory){

         $scope.students = [];
         //   
         studentFactory.getStudents(function(data){
         	$scope.students = data;
         })

         $scope.addStudent = function(){
         	var date = new Date();
         	$scope.newStudent.date = date;
           	studentFactory.addStudents($scope.newStudent, function (data){
           		$scope.students = data;
         	});
      		$scope.newStudent ={};
      	}

      	$scope.removeStudent = function(data){
      		console.log(data);
      		studentFactory.removeStudent(data);
      		studentFactory.getStudents(function(data){
      		 	$scope.students = data;
      		    })
      		}
      });
    </script>
  </head>
<body>
  <div ng-controller='studentsController'>   
    <h3>Add a new student!</h3>
    <form>
        Name: <input type='text' ng-model='newStudent.name'>
        <input type='submit' value='add new student' ng-click='addStudent()'>
        <input type='submit' value='Test' ng-click='test()'>
    </form>
    Search Friends: <input type="text" ng-model="filter_name">
    <table>
        <tr ng-repeat="student in students | filter:filter_name | orderBy:'date'">
        	<td>{{ student.name }}</td>
        	<td>{{ student.date }}</td>
        	<td>
        		<form>
        		    <input type='submit' value='Remove' ng-click='removeStudent($index)'>
        		</form>
        	</td>
        </tr>
    </ul>
  </div>
</body>
</html>